/* CSS extracted from app.py */
edge {
    opacity: 0.4;
}

node {
    background-color: #317b75;
    content: data(label);
}

.focal {
    background-color: #e65340;
    content: data(label)
}

.other {
    background-color: #317b75;
    content: data(label)
}


/*
Additional CSS added below
 */

.container-main {
    padding: 0;
       background-color: #f1f1f1;
    min-height: 100vh;
}


.network-properties-container {
    background-color: #ffffff;
    min-width: 50%;
}


/* Restyle radio buttons for DBC */
.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}


/*
User
 */
.uploadFormFileSelector {
    background-color: #f3f3f3;
    padding-top: 30px;
    padding-bottom: 30px;
}